body {
    /* temporary fonts, I can download the smith college standard ones and implement later*/
    font-family: "Google Sans Flex", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

img {
    width: 300px;
    height: auto;
    margin: 20px;

}

h1 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    color: #0B2A50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h3 {
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
}

footer {
    background-color: #0B2A50;
    color: white;
    padding: 3px;
    font-size: 12px;
    width: 100%;
}

b {
    font-weight: 550;
}

.chart-row {
    padding-top: 20px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-left: 20px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

#legend {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.legend-row {
    display: flex;
    padding-top: 15px;
    gap: 20px;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-dot {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 2px;
}

.subtitle {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
    font-size: 16px;
    color:rgb(83, 83, 83);
}

#pie-chart {
    margin-left: 200;
    margin-top: 25px;
}

/* fonts */
